.big-container {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.header {
  /* width: 100%; */
  width: 529px;
  margin: auto;
  /* padding: 10px; */
  display: flex;
}

#toggle-ai {
  cursor: pointer;
}

.timer-refresh {
  margin-left: 230px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.game-area {
  /* width: 100%; */
  margin: auto;
  display: flex;
}

.left-bar {
  width: 120px;
  margin-left: 0;
  margin-right: 0;
  display: inline;
  text-align: center;
  border-top: 3px solid gray;
  border-left: 3px solid gray;
  border-bottom: 3px solid gray;
}

.player-photo {
  height: 198px;
  vertical-align: middle;
}

.red-player {
  background-color: lightpink;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 2px solid gray;
}

.blue-player {
  background-color: lightskyblue;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  opacity: 50%;
}

.spacing {
  height: 10px;
}

.player-img {
  width: 115px;
  cursor: pointer;
}

.container {
  width: 400px;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid grey;
}

.spacing2 {
  height: 1px;
  width: 400px;
  background-color: lightskyblue;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 23px;
  width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lawngreen;
  text-shadow: 1px 1px 1px black;
  border: 1px solid lightskyblue;
  background-color: lightskyblue;
}

.square:hover {
  background-color: darkblue;
  cursor: pointer;
}

div.cellBoard::before {
  content: url(/Pictures/CellBoard.jpeg);
}
div.cell0::before {
  content: url(/Pictures/Cell0.jpeg);
}
div.cell1::before {
  content: url(/Pictures/Cell1.jpeg);
}
div.cell2::before {
  content: url(/Pictures/Cell2.jpeg);
}
div.cell3::before {
  content: url(/Pictures/Cell3.jpeg);
}
div.cell4::before {
  content: url(/Pictures/Cell4.jpeg);
}
div.cell5::before {
  content: url(/Pictures/Cell5.jpeg);
}
div.cell6::before {
  content: url(/Pictures/Cell6.jpeg);
}
div.cell7::before {
  content: url(/Pictures/Cell7.jpeg);
}
div.cell8::before {
  content: url(/Pictures/Cell8.jpeg);
}
div.cellM::before {
  content: url(/Pictures/CellMine.jpeg);
}
div.cellRedFlag::before {
  content: url(/Pictures/CellRedFlag.jpeg);
}
div.cellBlueFlag::before {
  content: url(/Pictures/CellBlueFlag.jpeg);
}
